@page "{questionid}"
@model Quanda.Pages.Questions.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<form method="post">
    <div class="alert alert-warning">
        You are about to delete: <b>@Model.Question.QuestionTitle</b><br/>
        Are you sure?
    </div>
    
    <div class="form-group">
        <input class="btn btn-danger" type="submit" value="Delete" />
        <a class="btn btn-secondary" asp-page="./Details" asp-route-questionId="@Model.Question.QuestionId">I changed my mind</a>
    </div>
</form>